<!-- DETAIL -->
<section id="two" class="wrapper">
	<div class="inner alt"> 
		<div class="content">
			<section>
				<p>DO results page looking for sammy


				results:search term: {{ searchTerm }} <br>
				results:search site: {{ searchSite }} <br>
				results:total results: {{ totalResults }} <br>
				results:returned results: {{ returnedResults }} <br>

				<table class="results">
					<!-- CONFIRMED PLAYERS -->
					<tbody>
						<tr style="background-color:#0078ff" ><td colspan = "2"><h3 style="color:#ffffff">{{ totalResults }} Results</h3></td></tr>
					</tbody>
					<tbody>
						{{#each resultsArray}} 
		                    <tr class="result_row">
								<td class="avatar_cell">
								<div class="avatar_row">
								<img src={{userAvatarLink}} alt="" class="avatar_img" align="left"/>
								</div>
								<div class="avatar_row">
								<a href={{userLink}} alt="{{userLogin}}" target="_blank">
								<i class="fa fa-github" aria-hidden="true"></i>
								</a>
								<a href="mailto:user@example.org">
								<i class="fa fa-envelope" aria-hidden="true"></i>
								</a>
								</div>
								</td>
								<td class="body_cell"><a href="{{pageLink}}"  target="_blank"><strong>{{title}}</strong></a> - {{issueBody}} </td>
								
							</tr>
		                {{/each}}
					</tbody>
				</table>



				 





			</section>
		</div>					
	</div>		
</section>
		